<div class="header-middle"><!--header-middle-->
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="logo pull-left">
              <%= link_to (image_tag 'home/logo.png'), root_url%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class=" pull-right">
              <%= form_tag  :method => 'get' do %>
              <%= text_field_tag :search, params[:search],class:'search_box form' %>
              <%= submit_tag "Search",class:'btn btn-default', :name => nil %>
            <% end %>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="shop-menu pull-right">
              <ul class="nav navbar-nav">
                <li><a href="#"><i class="fa fa-user"></i> Account</a></li>
                <li><a href="#"><i class="fa fa-star"></i> Wishlist</a></li>
                <!-- <li><a href="#"><i class="fa fa-crosshairs"></i> Checkout</a></li> -->
                <li><%= link_to cart_items_path, class: "" do %>
                      <i class="fa fa-shopping-cart"> Cart
                        <span id="cart_counts">
                          <% if @cart_items.present? %>(<%= @cart_items.count%>)<% end %>
                        </span>
                      </i>
                    <% end %>
                </li>
                <% unless user_signed_in? %>
                <li><%= link_to new_user_session_path do %><i class="fa fa-lock"></i> Login
                <% end %>
                </li>
                <% else %>
                <li>
                  <%= link_to destroy_user_session_path, method: :delete  do %><i class="fa fa-lock"></i> Logout
                <% end %>
                </li>
                <% end %>
               
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header-middle-->
