<div class="header-middle"><!--header-middle-->
      <div class="container">
        <div class="row">
          <div class="col-sm-3">
            <div class="logo pull-left">
              <%= link_to (image_tag 'home/logo.png'), root_url%>
            </div>
          </div>
          <div class="col-sm-3">
            <div class=" pull-right">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="shop-menu pull-right">
              <ul class="nav navbar-nav">
                <li class="dropdown"><a href="#"><i class="fa fa-user"></i> Account</a>
                  <ul role="menu" class="sub-menu ">
                    <li><%= link_to orders_path do %>
                      <i class="fa fa-reorder" aria-hidden="true"> My Orders</i>
                      <% end %>
                    </li>
                    <li><%= link_to wishlists_path do %>
                      <i class="fa fa-heart" aria-hidden="true"> My Wishlists</i>
                      <% end %>
                    </li>
                    <% if @cart_items.present? && @cart_items.count>0 %>
                      <li>
                        <%= link_to check_outs_path do %>
                          <i class="fa fa-check" aria-hidden="true"> Checkout</i>
                        <% end %>
                      </li> 
                    <% end %>
                    <% if user_signed_in? %>
                      <li>
                        <%= link_to edit_user_registration_path do %>
                          <i class="fa fa-edit" aria-hidden="true"> Edit profile</i>
                        <% end %>
                      </li>
                    <% end %>
                  </ul>
                </li>
                <li><%= link_to  wishlists_path do %>
                  <i class="fa fa-star">Wishlist</i>
                  <% end %>
                </li>
                <li>
                  <%= link_to cart_items_path, class: "" do %>
                    <i class="fa fa-shopping-cart"> Cart
                      <span id="cart_counts">
                        <% if @cart_items.present? %>(<%= @cart_items.count%>)<% end %>
                      </span>
                    </i>
                  <% end %>
                </li>
                <% unless user_signed_in? %>
                  <li>
                    <%= link_to new_user_session_path do %>
                      <i class="fa fa-lock"></i> Login
                    <% end %>
                  </li>
                <% else %>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete  do %>
                      <i class="fa fa-lock"></i> Logout
                    <% end %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div><!--/header-middle-->
