<section id="myorders">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><%=link_to 'Home', root_url%></li>
        <li class="active">My Orders</li>
      </ol>
    </div>

    <h2>My Orders</h2>

    <div class="panel-group">
    <% @orders.each do |order|%>
      <div class="panel panel-default">
        <div class="panel-heading order-panel">
          <table class="table order-table">
            <tr>
              <td>
                <p>Order Placed</p> 
                <p><%= order.created_at.strftime("%d %B %Y") %></p>
              </td>
              <td>
                <p>Total</p>
                <p>&#8377; <%= order.grand_total%></p>
              </td>
              <td>
                <p>Ship to</p>
                <% if order.address.present?%>
                  <p><%= order.address.first_name%> <%= order.address.last_name%> <i class="fa fa-sort-down"></i></p>
                <% end %>
              </td>
              <td>
                <p>Order-Id # <%= order.id%></p>
                <p><%= link_to "Order details", order_path(order)%></p>
              </td>
            </tr>
          </table>
        </div>

        <table class="table table-condensed">
        <col width="10%">
        <col width="80%">
        <% order.order_items.each do |order_item| %>
          <tbody>
            <tr>
              <td><%= image_tag order_item.product.pictures.first.image.preview.url%></td>
              <td>
                <div><%= link_to order_item.product.name, product_path(order_item.product)%> </div>
                <div>&#8377; <%=order_item.product.price%></div>              
              </td>
            </tr>
          </tbody>
        <% end %>
        </table>
      </div>
    <% end %>      
    </div>
  </div>
</section>