<div class="container">
  <% @contacts.each do |contact| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <table>
          <thead>
            <tr>
              <th class="col-sm-2">Name</th>
              <th class="col-sm-3">Email</th>
              <th class="col-sm-3">Subject</th>
              <th class="col-sm-1"></th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><%= contact.name %></td>
              <td><%= contact.email %></td>
              <td><%= contact.subject %></td>
              
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-body">
        <table>
          <tbody>
            <tr><th>Message</th></tr>
            <tr>
              <td><%= contact.message %></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="panel-footer">
        <table>
          <tbody>
          <%unless contact.reply.present? %>
            <tr>
              <td>
              <%= form_for contact, method: :put do |f| %>
                <%= f.text_area :reply ,class: "reply-field"%>
                <%= f.submit "Reply",class: "btn btn-primary"%>
              <% end %>
              </td>
            </tr>
          <% else %>
            <tr><th>Reply</th></tr>
            <tr>
              <td><%= contact.reply %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>
