<% address_type ||= 'bill_to' %>
<div class="form <%=address_type %>_form">
  <%= f.email_field :email, placeholder: 'Email*',value: current_user.email,id: "#{address_type}_email", required: "required" %>
  <%= f.text_field :first_name, placeholder: "First Name *",value: current_user.first_name,  id: "#{address_type}_first_name" , required: "required"%>
  <%= f.text_field :last_name, placeholder: "Last Name *",value: current_user.last_name, id: "#{address_type}_last_name" , required: "required" %>
  <%= f.text_field :address1, placeholder: "Address1 *", name: "address[address1]", id: "#{address_type}_address1" , required: "required" %>
  <%= f.text_field :address2, placeholder: "Address2 *",  id: "#{address_type}_address2" , required: "required"%>
  <%= f.text_field :postal_code, placeholder: "Zip / Postal_code" , id: "#{address_type}_postal_code" , required: "required"%>
  <% @country_list= ['India','Afghanistan','Bangladesh','Sri Lanka']%>
  
  <%= f.select :country, collection: CountryStateSelect.countries_collection %>

  <%= f.text_field :state, placeholder: "State / Province / Region", id: "#{address_type}_state", required: "required" %>
  <%= f.text_field :mobile_no, placeholder: "Mobile Number",id: "#{address_type}_mobile_no", required: "required" %>
  <%= f.hidden_field :status, value: 'active'%>
</div>
