<table class="table table-condensed " id="complete-cart-items">
  <col width="13%">
  <col width="27%">
  <col width="10%">
  <col width="17%">
  <col width="12%">
  <col width="8%">
  <center><p class="collapse">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p></center>
  <% if @cart_items.size == 0 %>
    <p class="text-center">
      There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
    </p>
  <% else %>
    <thead>
      <tr class="cart_menu">
        <td class="image">Item</td>
        <td class="description"></td>
        <td class="price">Price</td>
        <td class="quantity">Quantity</td>
        <td class="total">Total</td>
        <td></td>
      </tr>
    </thead>
  
    <tbody>
      <% @cart_items.each do |cart_item|%>
        <tr id="<%=cart_item.id%>">
          <td class="cart_product">
            <%= image_tag cart_item.product.pictures.first.image.preview.url%>
          </td>
          <td class="cart_description ">
            <h4 class=""><%=link_to cart_item.product.name, product_path(cart_item.product)%></h4>
          </td>
          <td class="cart_price">
            <p>&#8377;<%=cart_item.product.price%></p>

          </td>
          <td class="cart_quantity">
            <div class="cart_quantity_button">
              <% if request.original_url.include? "review_and_payment" %>
                <label class="review-quantity"><%= cart_item.quantity %></label>
              <% else %>
                <%= link_to '+', cart_item_path(cart_item, increase: 'increase'), method: :put, class: 'cart_quantity_up', remote:true %>
                <%= form_for cart_item, method: :put,class:'form_class', remote: true do |f| %>
                  <%#= f.hidden_field :cart_update, value: 'cart_update'%>
                  <%= f.text_field :quantity, size: 2, class:"cart_quantity_input", id: "cart-item-count-"+ cart_item.id.to_s ,:onchange=> " $(this.form).submit();"  %>
                    <% end %>
                  <%= link_to '-', cart_item_path(cart_item, decrease: 'decrease'), method: :put, class: 'cart_quantity_down', remote:true %>
              <% end %>  
            </div>
          </td>
          <td class="cart_total">
            <%a =cart_item.product.price%>
            <%b = cart_item.quantity.to_i %>
            <p id="cart_item_total_<%= cart_item.id %>" class="cart_total_price">&#8377;<%= cart_item.total%></p>
          </td>

          <% if request.original_url.include? "cart_items" %>
            <td class="cart_delete">
              <%= link_to cart_item, { data: { confirm: "Are you sure you wish to delete the product '#{cart_item.product.name}' from your cart?" }, method: :delete,remote: true,  class: "cart_quantity_delete", title: 'remove' } do %>
                <i class="fa fa-times"></i>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
      <%if show_cart_details==true%>
        <tr>
          <td colspan="4">&nbsp;</td>
          <td colspan="2">
            <table class="table table-condensed total-result">
              <tr>
                <td>Cart Sub Total</td>
                <td>&#8377; <%= @cart_items_total %></td>
              </tr>
              <tr>
                <td>Discount</td>
                <td class="text-danger">- &#8377; <%= @discount_amount%></td>
              </tr>
              <tr>
                <td>VAT</td>
                <td>&#8377; <%= @vat %></span></td>
              </tr>
              <tr class="shipping-cost">
                <td>Shipping Cost</td>
                <td> 
                  <% if @cart_items_total<500%>
                    &#8377; <%= @shipping_cost %>
                  <% else %>
                    <%= @shipping_cost %>
                  <% end %>
                </td>                  
              </tr>
              <tr>
                <td><b>Total</b></td>
                <td><b>&#8377; <%= @grand_total %></b></td></b>
              </tr>
            </table>
          </td>
        </tr>
      <% end %>
      <% end %>
    </tbody>
</table>