<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><%=link_to 'Home', root_url%></li>
        <li class="active">Check out</li>
      </ol>
    </div>

    <div class="login">
      <div class="step-one">
          <h2 class="heading">Step 1: User Login</h2>
      </div>
        
      <div class="checkout-options">
        <h3>New User</h3>
        <p>Checkout options</p>
        <ul class="nav">
          <li>
            <label><input type="checkbox"> Register Account</label>
          </li>
          <li>
            <label><input type="checkbox"> Guest Checkout</label>
          </li>
          <li>
            <a href=""><i class="fa fa-times"></i>Cancel</a>
          </li>
        </ul>
      </div><!--/checkout-options-->

      <div class="register-req">
        <p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
      </div><!--/register-req-->
    </div>

    <div class="addresses">
      <div class="step-one">
        <h2 class="heading">Step 2: Address Details </h2>
      </div>

      <div class="shopper-informations ">
        <div class="add_address">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Add new address</button>
        </div>
        <div class="row address_exist">
          <% if current_user.addresses.where(status: 'active').present? %>
            <% current_user.addresses.where(status: 'active').each do |address|%>
              <div class="panel-body col-sm-3 address_panel">
                <p><h4><%= address.first_name %> <%= address.last_name %></h4></p>
                <p><%= address.address1 %></p>
                <p><%= address.address2 %></p>
                <p><%= address.state %></p>
                <p><%= address.postal_code %></p>
                <p><%= address.country %></p>
                <div class="btn btn-primary link_to_add">
                  <%= hidden_field_tag  address.id %>
                  <%= link_to 'Continue with this address', review_and_payment_path(:address_id=>address.id),  class:"link_to_add"  %>
                </div>
                <p>
                  <%= link_to edit_address_path(address), class:"btn btn-default ",remote: true do %>
                  <i class="fa fa-edit"> Edit</i>
                  <% end %>
                  <%#= link_to address_path(address), method: :delete,class:" address-delete-btn btn btn-default",data: {confirm: 'Are you sure?'} do %>
                  <%= link_to address_path(address, status: 'delete'), method: :put ,class:" address-delete-btn btn btn-default",data: {confirm: 'Are you sure?'} do %>
                  <i class="fa fa-trash"> Delete</i>
                  <% end %>
                </p>
              </div>
            <% end %>
          <% end %>
        </div>

        <div class="modal fade" id="myModal" role="dialog">
          <%= render 'modal_form'%>
        </div>  
      </div>
    </div>
  </div>
</section> <!--/#cart_items-->
