<section id="cart_items">
  <div class="container">
    <div class="breadcrumbs">
      <ol class="breadcrumb">
        <li><%=link_to 'Home', root_url%></li>
        <li class="active">Check out</li>
      </ol>
    </div>

    <div class="step-one">
        <h2 class="heading">Step1</h2>
    </div>
      
    <div class="checkout-options">
      <h3>New User</h3>
      <p>Checkout options</p>
      <ul class="nav">
        <li>
          <label><input type="checkbox"> Register Account</label>
        </li>
        <li>
          <label><input type="checkbox"> Guest Checkout</label>
        </li>
        <li>
          <a href=""><i class="fa fa-times"></i>Cancel</a>
        </li>
      </ul>
      </div><!--/checkout-options-->

      <div class="register-req">
        <p>Please use Register And Checkout to easily get access to your order history, or use Checkout as Guest</p>
      </div><!--/register-req-->

    <div class="shopper-informations">
      
      <div class="row">
        <%= form_for @address, :html => { :id => "address_fields" } do |f| %>
          <div class="col-sm-5">
            <div class="bill-to">
              <div class="form-one form-two">
                <p>Bill To</p>
                <%= render 'address', f: f %>
              </div>
            </div>
          </div>
          <div class="col-sm-5 clearfix">
            <div class="bill-to">
              <div class="form-one form-two">
                <p>Ship To</p>
                <%= render 'address', f: f, address_type: 'ship_to' %>
                <label><%=check_box_tag 'checkbox' %>Shipping to bill address</label>
              </div>
            </div>
          </div>         
        <% end %>
      </div>
    </div>

    <div class="review-payment">
        <h2>Review & Payment</h2>
    </div>

    <div class="table-responsive cart_info" >
      <%= render partial: 'cart_items_detail', locals: {show_cart_details: true}%>
    </div>
    <div class="centerize">
      <input type="button" value="Continue" class="btn btn-primary", onclick="submitForms()" />
    </div>
  </div>
</section> <!--/#cart_items-->
